body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
  margin: 0;
  overflow: hidden;
}

.heart-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  transform-origin: bottom center;
  animation: beat .25s infinite alternate;
  background: radial-gradient(circle, red, transparent);
}

@keyframes beat {
  from {
      transform: scale(1)
  }
  to {
      transform: scale(1.1)
  }
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.particle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  background-color: white;
}

@keyframes moveParticle {
  0% {
      transform: translate(0px, 0px) scale(0);
  }
  100% {
      transform: translate(随机距离, 随机距离) scale(1);
      opacity: 0;
  }
}